/*MAIN*/

.container {
	width: 1100px;
	margin: 50px auto;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.four-block__text {
	padding: 18px 0 10px 0;
}

.four-block__price {
	font-size: 15pt;
	font-weight: 900;
	padding: 0 0 12px 0;
}

.four-block__button, .form__button {
	margin: 0 auto;
	background-color: #f36;
	width: 150px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

.four-block__button:hover, .form__button:hover {
	background-color: #c06;
	transition: 0.5s ease 0s;
	box-shadow: 0 0 15px #f06;
}

.four-block__button a {
	text-decoration: none;
	color: #fff;
}

/*POPUP*/

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease 0s;
}

.popup__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.active {
	opacity: 1;
	visibility: visible;
}

.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 50px 100px;
	position: relative;
}

.form * {
	line-height: 2;
	font-size: 14pt;
	outline: none;
}

.form input {
	width: 250px;
	height: 30px;
	border-radius: 10px;
	border-color: #ccc;
}

.form input:focus {
	box-shadow: 0 0 15px #ccc;
}

.form__button {
	margin: 35px auto;
	font-size: 18px;
	height: 50px;
	width: 200px;
	border: none;
	color: #fff;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}

#error {
	text-align: center;
	color: #f00;
	font-size: 14pt;
}
